<h1>A l'attention du sevice "{{ contact.division.label }}"</h1>

<table>
    <tr>
        <td>Nom :</td>
        <td>{{ contact.lastname }}</td>
    </tr>
    <tr>
        <td>Prénom :</td>
        <td>{{ contact.firstname }}</td>
    </tr>
    <tr>
        <td>E-mail</td>
        <td>{{ contact.mail }}</td>
    </tr>
</table>

<div>
    <p>{{ contact.message }}</p>
</div>